.contact__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.contact__header {
  font-weight: bold;
  font-size: 3.5em;
}

.contact__subheader {
  font-size: 1.5em;
  color: gray;
  margin-bottom: 60px;
}
.contact h3 {
  color: gray;
  font-size: 1em;
}
.contact h4 {
  font-weight: bold;
  margin-bottom: 30px;
}
.contact__form {
  margin-bottom: 100px;
}
.contact svg {
  height: 160px;
  min-width: 100px;
  margin: 10px 0px;
}