.contact__header {
  font-weight: bold;
  font-size: 3.5em;
  margin-bottom: 60px;
}

.contact__subheader {
  font-size: 1.5em;
  color: gray;
  margin-bottom: 60px;
}
.contact h3 {
  color: gray;
  font-size: 1em;
}
.contact h4 {
  font-weight: bold;
  margin-bottom: 30px;
}
.contact__form {
  margin-bottom: 100px;
}
.contact svg {
  height: 200px;
  margin: 20px 0px;
}